* {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "header header header " 1fr
    "left-menu main right-menu" 9fr /
    1fr 10fr 1fr;

  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: yellow;
  display: grid;
  grid-template:
    "heading searchbar list " auto /
    auto auto auto;
  align-items: center;
}

.left-menu {
  grid-area: left-menu;
  background-color: aquamarine;
}

.main {
  grid-area: main;
  background-color: orange;
}

.right-menu {
  grid-area: right-menu;
  background-color: #266650;
}

.header-items {
  display: inline;
}

.heading,
.searchbar,
.list,
.header-element,
.searchbar-element,
.list-element {
  background-color: yellow;
  list-style: none;
  display: inline;
}
