* {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "header header header header " 1fr
    "left-menu main settings toolbar" 9fr /
    4fr 10fr 4fr 0.7fr;

  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: yellow;
  display: grid;
  grid-template:
    "menu logo searchbar list " auto /
    auto auto auto auto;
  align-items: center;
}

.left-menu {
  grid-area: left-menu;
  background-color: purple;
}

.main {
  grid-area: main;
  background-color: orange;
}

.settings {
  grid-area: settings;
  background-color: #568498;
}

.toolbar {
  grid-area: toolbar;
  background-color: silver;
}

.menu,
.logo,
.searchbar,
.list {
  background-color: yellow;
}

.menu-element {
  width: 35px;
  height: 5px;
  background-color: black;
  display: block;
  margin-bottom: 7px;
  margin-left: 8px;
}

.list-element,
.logo-element,
.searchbar-element {
  display: inline-block;
  background-color: yellow;
}

@media screen and (max-width: 760px) {
  .container {
    display: grid;
    grid-template:
      "header header  " 1fr
      "left-menu main " 9fr /
      4fr 9fr;

    width: 100vw;
    height: 100vh;
  }
}
